<header class="header">
    <div class="header__navbar">
        <a href="#" class="logo">
            <span class="logo__text">ForkIO</span>
        </a>
        <a href="#" class="header__btn header__btn--buy-now">Buy Now</a>
        <button class="burger-btn">
            <span class="burger-btn__bar burger-btn__bar--top"></span>
            <span class="burger-btn__bar burger-btn__bar--mid"></span>
            <span class="burger-btn__bar burger-btn__bar--bot"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#revolutionary-editor" class="nav__link scroll-to">Overview</a>
                </li>
                <li class="nav__item">
                    <a href="#testimonials" class="nav__link scroll-to">About Fork</a>
                </li>
                <li class="nav__item">
                    <a href="#subscription" class="nav__link scroll-to">Buying Options</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link scroll-to">Support</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div>
            <h1 class="header__title">Fork App</h1>
            <h2 class="header__subtitle">A Real Gamechanger In The World Of Web-Development</h2>
            <p class="header__app-version">v. 2.8 For Mac and Windows</p>
        </div>
        <div class="header__download-wrapper">
            <a href="#" class="header__btn header__btn--download">Download For Free Now</a>
            <p class="header__download-info">Unlimited 30-Days Trial Period</p>
        </div>
    </div>
</header>