<section class="subscription" id="subscription">
    <div class="container">
        <h2 class="subscription__title">Fork Subscription Pricing</h2>
        <ul class="subscription__list">
            <li class="subscription__item subscription__item--tablet-r">
                <h3 class="subscription__item-title">Students</h3>
                <span class="subscription__price">29</span>
                <span class="subscription__period">per month</span>
                <span class="subscription__text subscription__text1">Personal License</span>
                <a href="#" class="subscription__btn">purchase</a>
            </li>
            <li class="subscription__item subscription__item--tablet-l">
                <h3 class="subscription__item-title">professional</h3>
                <span class="subscription__price">59</span>
                <span class="subscription__period">per month</span>
                <span class="subscription__text">Professional License Email Support</span>
                <a href="#" class="subscription__btn">purchase</a>
            </li>
            <li class="subscription__item subscription__item--tablet-r subscription__item--active">
                <h3 class="subscription__item-title subscription__item-title--active">agency</h3>
                <span class="subscription__price subscription__price--active">99</span>
                <span class="subscription__period subscription__period--active">per month</span>
                <span class="subscription__text subscription__text--active">1-12 Team Members Phone Support</span>
                <a href="#" class="subscription__btn subscription__btn--active">purchase</a>
            </li>
            <li class="subscription__item subscription__item--tablet-l">
                <h3 class="subscription__item-title">enterprise</h3>
                <span class="subscription__price">159</span>
                <span class="subscription__period">per month</span>
                <span class="subscription__text">Unlimited Team Members 24/ 7 Phone Support</span>
                <a href="#" class="subscription__btn">purchase</a>
            </li>
        </ul>
    </div>
</section>