<section class="testimonials" id="testimonials">
    <div class="container">
        <h2 class="testimonials__title">People Are Talking About Fork</h2>
        <ul class="testimonials__list">
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials1.png" alt="smashing magazine logo" class="testimonials__img" height="43" width="165"/>
                </div>
                <p class="testimonials__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
                </p>
            </li>
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials2.png" alt="codrops logo" class="testimonials__img" height="50" width="148"/>
                </div>
                <p class="testimonials__text">
                    Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
                </p>
            </li>
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials3.png" alt="w logo" class="testimonials__img" height="64" width="64"/>
                </div>
                <p class="testimonials__text">
                    In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
                </p>
            </li>
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials4.png" alt="pixel buddha logo" class="testimonials__img" height="24" width="225"/>
                </div>
                <p class="testimonials__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
                </p>
            </li>
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials5.png" alt="creative bloq logo" class="testimonials__img" height="34" width="166"/>
                </div>
                <p class="testimonials__text">
                    Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.
                </p>
            </li>
            <li class="testimonials__item">
                <div class="testimonials__img-wrapper">
                    <img src="./dist/img/testimonials6.png" alt="tnw logo" class="testimonials__img" height="34" width="108"/>
                </div>
                <p class="testimonials__text">
                    Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.
                </p>
            </li>
        </ul>
        <p class="testimonials__afterword">
            Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>
</section>