.features {
  margin-top: 88px;


  .container {
    @include desktop{
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 33px;
    }
  }

  @include tablet {
    margin-top: 98px;
    padding-bottom: 33px;
  }

  @include desktop {
    margin-top: 70px;
    background-color: $features-bg-color;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $header-primary-color;
    margin-top: 32px;
    margin-bottom: 36px;

    @include tablet {
      margin-top: 62px;
      margin-bottom: 50px;
      font-size: 42px;
      line-height: 44px;
    }

    @include  desktop {
      font-size: 48px;
      line-height: 50px;
      text-align: left;
      margin-top: 94px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  &__title:before {
    content: "<";
  }

  &__title:after {
    content: ">";
  }

  .title--d {
    display: none;

    @include desktop {
      display: block;
      text-align: center;
    }
  }

  .title--m-t {
    @include desktop {
      display: none;
    }
  }

  &__list {
    @include list-reset;
    text-align: center;

    @include desktop {
      width: 50%;
      margin-top: 100px;
      margin-right: 49px;
      margin-bottom: 0;
    }


  }

  &__item {
    @include tablet {
      display: flex;
      align-items: flex-start;
      margin-bottom: 60px;
    }
    @include desktop {
      margin-bottom: 35px;
    }

    &:last-child {
      @include desktop {
        margin-bottom: 0;
      }
    }
  }

  .article-img1 {
    @include tablet {
      margin-left: 30px;
      margin-right: 23px;
    }
  }

  .article-img2 {
    @include tablet {
      margin-left: 31px;
      margin-right: 43px;
    }
  }

  .article-img3 {
    @include tablet {
      margin-left: 46px;
      margin-right: 60px;
    }
  }

  .article-img4 {
    @include tablet {
      margin-left: 41px;
      margin-right: 52px;
    }
  }

  &__article-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: $features-title-color;
    margin-top: 23px;
    margin-bottom: 14px;

    @include tablet {
      text-align: left;
      margin-top: 0;
      margin-bottom: 16px;
      line-height: 21px;
    }
  }

  &__article-discription {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $features-text-color;
    margin-bottom: 40px;

    @include tablet {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__wrapper {
    @include desktop {
      width: 50%;
    }
  }

  &__img {
    display: flex;
    margin-right: -10px;
    justify-content: flex-end;

    & > img {
      width: 100%;
      height: 100%;

      @include tablet {
        margin-right: 0;
        max-width: 700px;
      }

      @include desktop {
        margin-top: 20px;
      }
    }

    @include desktop {
      margin-top: 0;
    }
  }
}