*,
*::after,
*::before{
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
}


body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @include desktop {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}