.subscription {
  background: url("../img/subscription-bg-mob.png") center / cover;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $light-color;

  .container {
    @include tablet {
      max-width: 1200px;
    }
  }

  @include tablet {
    background: url("../img/subscription-bg-tablet.png");
    background-size: cover;
  }

  @include desktop {
    background: url("../img/subscription-bg-desktop.png");
    background-size: cover;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    padding: 14px 20px 0;
    margin: 0 auto 32px;

    @include tablet {
      font-size: 42px;
      line-height: 44px;
      padding-top: 88px;
      margin-bottom: 39px;
    }

    @include desktop {
      font-size: 48px;
      line-height: 50px;
      padding-top: 114px;
      margin-bottom: 61px;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 18px;

    @include tablet {
      grid-template: repeat(2, auto) / repeat(2, minmax(auto, 650px));
      grid-gap: 30px 25px;
      width: 100%;
      align-items: center;
      //justify-items: left;
    }

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: normal;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto 18px;
    width: $price-section-width;
    height: 457px;
    font-size: 24px;
    line-height: 24px;
    background: url("../img/subscription-base.png");

    @include tablet {
      margin-bottom: 0;
      max-width: $price-section-width;
      width: 90%;
    }

    &--active {
      width: $price-section-active-width;
      height: 560px;
      background: url("../img/subscription-base-dark.png");

      @include tablet {
        max-width: $price-section-active-width;
        width: 100%;
      }
    }

    @include desktop {
      margin: 0;
    }

    &--tablet-r {
      @include tablet {
        margin-right: 0;
      }
    }

    &--tablet-l {
      @include tablet {
        margin-left: 0;
      }
    }
  }

  &__item-title {
    background: url("../img/subscription-heading-bg.png");
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 36px 0;

    &--active {
      background: url("../img/subscription-heading-bg-dark.png");
      padding: 43px;
      margin-bottom: 14px;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 20px;

    &::before {
      content: "$";
      font-weight: normal;
    }

    &--active {
      font-size: 82px;
      line-height: 84px;
      margin-bottom: 16px;
    }
  }

  &__period {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;

    &::after {
      content: "";
      display: block;
      margin: 38px auto 30px;
      width: 20%;
      border-bottom: 5px solid $header-primary-color;
    }

    &--active:after {
      margin: 46px auto 40px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    margin-bottom: 37px;
    padding: 0 23px;

    &--active {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 83px;
    }

  }

  &__text1 {
    @include tablet {
      margin-bottom: 55px;
    }
  }

  &__btn {
    font-size: 15px;
    line-height: 17px;
    padding: 14px 36px;
    margin: 0 auto 36px;
    color: $light-color;
    width: 163px;
    border-radius: 40px;
    background: url("../img/subscription-button.png") top center / cover;

    &--active {
      font-size: 16px;
      line-height: 18px;
      background: url("../img/subscription-button-dark.png") top center / cover;
    }
  }

}