$tablet-width: 481px;
$desktop-width: 993px;

$header-primary-color: #8D81AC;
$light-color: #FFFFFF;
$icon-color: #1B1F23;
$features-title-color: #323232;
$features-text-color: #848E97;
$features-bg-color: #F4F4F4;

$price-section-width: 257px;
$price-section-active-width: 299px;